@model IEnumerable<AutoCatalog.Models.Auto>

@{
    ViewData["Title"] = "Каталог Авто";
}

<div class="filter-bar">
    <select id="sortOrder" class="form-control">
        <option value="brand">Сортувати за маркою</option>
        <option value="brand_desc">Сортувати за маркою (спадання)</option>
        <option value="year">Сортувати за роком випуску</option>
        <option value="year_desc">Сортувати за роком випуску (спадання)</option>
        <option value="price">Сортувати за ціною</option>
        <option value="price_desc">Сортувати за ціною (спадання)</option>
    </select>
</div>

<div id="car-catalog" class="car-catalog">
    @foreach (var car in Model)
    {
        <div class="car-info" data-year="@car.Year">
            <h1>@car.Brand @car.Model (@car.Year)</h1>
            <img src="data:image/png;base64,@car.ImageData" alt="@car.Brand @car.Model" width="500" height="500">
            <div class="price">@car.Price$</div>
            <div class="button-group">
                <a asp-action="Buy" asp-route-id="@car.Id" class="buy-button">Купити</a>
                <a asp-action="Details" asp-route-id="@car.Id" class="btn-primary">Деталі</a>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/filter-catalog.js"></script>
}